<h6>Stuff to do!</h>

<% @activities.each do |activity| %>
<div class="row">
  <a href="<%= edit_activity_path(activity.id) %>">
    <div class="span12 well">
      <div class="span6">
        <%= activity.name %>
      </div>
      <div class="span3">
        <span class="label label-info"><%= activity.state.name if activity.state %></span>
      </div>
    </div>
  </a>
</div>
<% end %>

<%= link_to 'New Activity', new_activity_path, :class => "btn" %>
